/* Main color #2E2F42 */
/* Secondary color #434455 */

:root { --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --acent-color: #4D5AE5;
    --white-color: #ffffff;
    --main-bgc: #E5E5E5;
    --cloud: #F4F4FD;
    --cornflower:#E7E9FC;
}
body {
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color:var(--title-text-color);
    background-color: var(--white-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.title-text {
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
 color:var(--title-text-color)
}

.little-text
{ color:var(--primary-text-color);
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
}
/* header */
.page-header {
    font-size: 16px;
line-height: 1.5;
background-color: var(--white-color);
}
.navigation {
font-size: 16px;
line-height: 1.5;
 color:var(--title-text-color)
}
.navigation:focus,.navigation:hover {
color: var(--acent-color);
}

span {
    color:var(--acent-color);
}

.header-logo { 
    color:var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}
.contacts:focus,
.contacts:hover {
color:var(--acent-color)
}
/* hero */
.hero-headline {
font-weight: 600;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
}
.hero-button {
    cursor:pointer;
}
.hero-button {
    font-family: inherit;
    background-color: var(--acent-color);
    color:var(--white-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}

.hero-section {
    background-color: var(--title-text-color);
    color:var(--white-color);   
}

/* Sections after hero */

    
.little-headline {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.headline {
    font-weight: 600;
font-size: 36px;
line-height: 1.1;
    text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.members {
    background-color: var(--cloud);
}
.bgc-white {
    background-color: var(--white-color);
}
/* Footer */
.page-footer {
color: var(--cloud);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
background-color: var(--title-text-color);
}
.footer-text{
color:var(--cornflower);
}
.footer-logo {
    color:var(--cloud);
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
/* portfolio buttons */
.primary-button {
    font-family: inherit;
    color: var(--white-color);
    background: var(--acent-color);
    font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
}
.secondary-button {
  font-family: inherit;
    color: var(--acent-color);
    background-color: var(--cloud);
    font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
}
.secondary-button:hover,.secondary-button:focus{
    color:var(--acent-color);
    background-color: var(--white-color);
}
.primary-button:hover, .primary-button:focus {
    color:var(--white-color);   
    background-color:var(--acent-color);
}